
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:34px;
    color: #777777;
    background-image: url("/assets/images/concrete-texture/concrete-texture.png")
}

.container {
    background-color: #ffffff;
    padding-bottom: 200px;
    
}

h2 {
    margin-top: 30px;
    margin-left: 20px;
}
 
#profilePic {
    margin-left: 20px;
}

.navbar-brand {
    background: #4aaaa5;
    margin: none;
    padding: 25px;
}

#main-section {
    width: 960px;
}



.rowFooter {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #cccccc;
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 100px;
}

.work {
 position: relative;
 float: left;
 width: 200px;
 margin: 25px 10px 25px 10px;
 overflow: auto;
}
